<%= form_for [@project, @project.comments.build] do |f| %>
<div class="form-group">
  <div class="field">
    <div class="row">
     <div class="col-md-6"> <div style="font-size:100px;" class="pull-right Rhead"><%= f.label :name ,"Add a comment", class:"pull-right bigfonts"%> </div></div>
<div class="col-md-5"></div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="field">
    <div class="row">
      <div class="col-md-5">  <%= f.label :name ,"Name:", class:"pull-right"%> </div>
      <div class="col-md-6"><%= f.text_field :name %></div>
    </div>
  </div>
</div>
</p>

<div class="form-group">
  <div class="field">
    <div class="row">
      <div class="col-md-5">   <%= f.label :body, "Comment:" , class:"pull-right" %></div>
      <div class="col-md-6">  <%= f.text_area :body %></div>

    </div>
  </div>
</div>

<p>
  <div class="form-group">
      <div class="row">
        <div class="col-md-5">  </div>
  <div class="col-md-6">  <%= f.submit nil, :class => 'btn btn-success' %></div>
</div>
</div>

<br>
</p>

<% end %>
