<h1>Resume's</h1>

<table class="table table-hover table-responsive">

  <thead>
    <tr>
      <th>Email</th>
      <th>Fullname</th>
      <th>Contact details</th>
      <th>Website</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.fullname %></td>
        <td><%= user.phone_num %></td>
        <td><%= user.website %></td>


        <td><%= link_to 'Show',"/display/#{user.id}" %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>
