<div class="panel panel-default" style="background-color: transparent;">
  <div class="panel-heading" style="background-color: transparent;">
    <h3 class="panel-title"> <div id="panelhead">Project Title: <%= @project.title %> </div></h3>
  </div>
  <div class="panel-body" style="background-color: transparent;">


<div class="row">
  <div class="col-md-3"> <div id="Rhead">Project Title:</div> </div>
  <div class="col-md-8">  <%= @project.title %> </div>
</div>

<div class="row">

  <div class="col-md-3"> <div id="Rhead"> Summary:</div> </div>
  <div class="col-md-8"> <%= @project.summary %> </div>
</div>
<div class="row">
  <div class="col-md-3"> <div id="Rhead"> Start year:</div></div>
  <div class="col-md-8"><%= @project.start_year %> </div>
</div>
<div class="row">
  <div class="col-md-3"><div id="Rhead"> End Year: </div></div>
  <div class="col-md-8"><%= @project.end_year %></div>
</div>
<div class="row">
  <div class="col-md-3"><div id="Rhead"> Project Link: </div></div>

  <div class="col-md-8"><%= @project.project_link %></div>
</div>
<div class="row">
  <div class="col-md-3"><div id="Rhead">Collaborated with:</div> </div>
  <div class="col-md-8">
        <% @collaborations = Collaboration.where(project_id: @project.id)%>
    <% @collaborations.each do |collaborator| %>

    <%= link_to collaborator.user.fullname, collaborator.user %><br>

    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><div id="Rhead"> <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Screenshot of Project:</div> </div>

    <div class="col-md-8">  <div class="fullwidth"><img src="<%=@project.screenshot %>"/></div></div>
  </div>


<br><br>
<div class="row">
  <div class="col-md-4"><%= link_to 'Edit', edit_project_path(@project), class:"btn btn-warning" %>
  </div>
  <div class="col-md-4">
    <center>
      <%= link_to 'Add Collaboration', new_project_collaboration_path(@project) ,class:"btn btn-success" %>
    </center>
  </div>
  <div class="col-md-4"><%= link_to 'Back', projects_path , class:"btn btn-info pull-right"%>
  </div>
</div>
<br>
<br>
<center>
<div style="border:1px solid rgba(95, 111, 100, 0.43); width: 500px;"></div>
</center>
<br>
<center>
  <div id="comments">
    <div id="Rhead"><%= @project.comments.count %> Comments</div>
    <br>
    <%= render @project.comments %>
</center>
<br>
<center>
<div style="border:1px solid rgba(95, 111, 100, 0.43); width: 500px;"></div>
</center>
<br>
    <%= render "comments/form" %>
  </div>

</div>
</div>
</div>
<br>
